<%= stylesheet_link_tag "welcome.css" %>
<link href="https://fonts.googleapis.com/css?family=Gugi|Raleway" rel="stylesheet">

<header>
  <div>
    <ul>

    </ul>
  </div>
</header>

<h1> Wyncode Swag Store v2.0</h1>


<div class="store">
  <% @products.each do |product| %>
  <div class="hover">
    <figure><%= link_to image_tag(product.photo.url), product_path(product) %></figure>
  </div>
  <% end %>

</div>

<footer>
      <ul>
        <li><a href="http://twitter.com/Wyncode">Twitter Link</a></li>
        <li><a href="http://www.facebook.com/Wyncode">Facebook Link</a></li>
        <li><a href="sales@wyncode.co">Inquiries</li>
      </ul>
</footer>
