<%= stylesheet_link_tag "welcome.css" %>
<link href="https://fonts.googleapis.com/css?family=Gugi|Raleway" rel="stylesheet">

<div class="hero-image">
  <div class="hero-text">
    <h1 style="font-size:40px">Wyncode Swag Store v2.0</h1>

  </div>
</div>



<div class="store">
  <% @products.each do |product| %>
  <div class="hover">
    <%=  image_tag(product.photo.url)%>
  <%= link_to product_path(product) do  %>
    <div class="overlay">
      <h2><strong><%= product.name %> </strong></h2>
    </div>
    <% end %>
  </div>
  <% end %>

</div>


<footer>
      <ul>
        <li><a href="http://twitter.com/Wyncode">Twitter</a></li>
        <li><a href="http://www.facebook.com/Wyncode">Facebook</a></li>
        <li><a href="mailto:sales@wyncode.co">Inquiries</li>
      </ul>
</footer>
