/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/
* {
  font-family: 'Raleway', sans-serif;
}

.display {
  margin: 0 auto;
  width: 600px;
}

img {
  float: right;
}

header ul {
  padding: 0.5em;
  text-align: center;
}

header li {
  display:inline-block;
}
